<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy Clock</title>
    <link rel="stylesheet" href="./css/master.css">
  </head>
  <body>
    <div class="container">
      <h1>Hello, it's</h1>
      {{{ body }}}
    </div>
  </body>
</html>
